/* resultPage.module.css */
.pgBody {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.outerCircleCorrect {
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  background-color: white;
  outline: 0.4rem solid rgb(5, 213, 113);
  display: grid;
  place-content: center;
}
.innerCircleCorrect {
  width: 7vmax;
  height: 7vmax;
  border-radius: 50%;
  background-color: rgb(5, 213, 113);
  display: flex;
  place-content: center;
}

.innerCircleWrong {
  width: 7vmax;
  height: 7vmax;
  border-radius: 50%;
  background-color: red;
  display: flex;
  place-content: center;
}
.outerCircleWrong {
  outline: 0.4rem solid red;
  width: 10vmax;
  height: 10vmax;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-content: center;
}

.cancel,
.check {
  width: 3.5vmax;
}

.text {
  font-size: 2vmax;
}
