.positionContainer {
  border: 2px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.otherPositions {
  padding: 0px 20px;
  background-color: #b5a3ea;
  color: #0e0132;
  font-size: 1rem;
  font-weight: 600;
  /* margin-bottom: 5rem; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
  position: relative;
  bottom: -40rem;
}

.flex{
  display: flex;
  gap: 1em;
}

.otherPositions ol {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.finalLeaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}

.leaderBoard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: black;
}
.scoreBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3em;
}

.imageDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.winnerImage{
  width: 80px;
  border: 5px solid white;
  border-radius: 100%;
}

.images {
  width: 50%;
  border: 3px solid purple;
  border-radius: 100%;
}

.bars {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  color: white;
}

.firstPlace {
  height: 70vh;
  background-color: #4826a6;
  position: relative;
}
.secondPlace {
  height: 60vh;
  background-color: #9747ff;
  position: relative;
}
.thirdPlace {
  height: 50vh;
  background-color: #9747ff;
  position: relative;
}
.position {
  font-size: 16px;
}

/* .score {
  position: absolute;
  top: 0.8rem;
  font-size: 2rem;
  color: #B5A3EA;
} */
