.finalLeaderBoard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.leaderBoard {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: black;
}

.bars {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.winner {
  height: 60vh;
  background-color: white;
}
.secondPlace {
  height: 50vh;
  background-color: blue;
}
.thirdPlace {
  height: 40vh;
  background-color: green;
}
