.inputContainer {
  margin-top: 1.5rem;

  background: rgba(165, 130, 224, 0.63);

  width: 26.5rem;

  height: 3.1rem;

  border-radius: 0.4rem;

  border-color: transparent;

  text-align: center;

  font-size: 1.3rem;

  outline: none;
}

.inputContainer::placeholder {
  color: rgba(14, 1, 50, 0.63);

  font-size: 1.3rem;

  font-weight: 500;
}
